.App {
<<<<<<< HEAD
  text-align: right;
=======
  text-align: center;
>>>>>>> 1a3fa94338c3318084ada6bb5d9dc7f4e56084d7
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

<<<<<<< HEAD


.App-header {
  background-color: #98b1e2;
=======
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
>>>>>>> 1a3fa94338c3318084ada6bb5d9dc7f4e56084d7
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

<<<<<<< HEAD

=======
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
>>>>>>> 1a3fa94338c3318084ada6bb5d9dc7f4e56084d7
